.container {
  background-color: rgb(255, 0, 60);
  width: 500px;
  height: 800px;
  display: flex;
  flex-direction: column;

  justify-content: end;
}

.container .div {
  display: flex;
}
.container .li {
}

.container .div {
  width: 50px;
  background-color: brown;
}
